.header {
    will-change: transform;
    z-index: 1000;
}

.header-logo {
    margin-right: 1.5rem;

    &__button {
        color: #3d1aad;
    }

    &__img {
        height: 50px;
        display: flex;
    }
}

@mixin render-stroke($depth, $color) {
    $shadow: ();
    @for $i from 1 through $depth {
        $offset: $i * 1px;
        $shadow: append($shadow, $offset 0 1px $color, comma);
        $shadow: append($shadow, $offset * -1 0 1px $color, comma);
        $shadow: append($shadow, 0 $offset 1px $color, comma);
        $shadow: append($shadow, 0 $offset * -1 1px $color, comma);
    }
    $shadow: append($shadow, 0 0 3px $color);

    text-shadow: $shadow;
}

.header-link__text {
    @include render-stroke(1, #fff);

    color: #3d1aad;
    font-size: 1rem;
}

.header__link {
    display: block;
    height: 100%;

    &_selected {
        background-color: rgba(0, 0, 0, 0.08);
    }

    &_active > .header-link__text {
        @extend .header__link_active;
    }
}

.header__menu {
    height: 100%;
}

.submenu__link {
    color: #000a75;
}

.header__link_active, .submenu__link_active {
    color: #000;
}

.menu__list {
    list-style: none;
    margin: 0;
    padding-left: 0;
    height: 100%;
}

.menu__item {
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    height: 100%;

    + .menu__item {
        margin-left: 1rem;
    }
}

.header__buttons-group {
    margin-right: 0;
    margin-left: auto;
}

.header__button {
    color: #000a75;

    + .header__button {
        margin-left: 1rem;
    }
}

.header__menu-button {
    width: 0;
}

.drawer {
    min-width: 240px;
}

@media (min-width: 768px) {
    .header__menu-button, .header_menu-drawer {
        display: none;
    }
}

@media (max-width: 767px) {
    .header__menu, .header__buttons-group {
        display: none;
    }

    .header-logo {
        margin: 0 auto;
    }
}
