.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    margin: 1rem auto;
    position: relative;
    min-height: 13rem;
}

.photo-card__icon {
    color: rgba(255, 255, 255, 0.54);
}

$photo-card-title-hegight: 4.5rem;

.photo-card__title {
    height: $photo-card-title-hegight;
    transform: translateY($photo-card-title-hegight);
    transition: transform 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.photo-card {
    max-width: 23rem;
    position: relative;

    @media (max-width: $sm) {
        margin: 0 auto;
    }

    &:hover .photo-card__title {
        transform: translateY(0);
    }

    &__link {
        color: #fff;
    }
}

.photo-card__loading-splash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(255, 255, 255, 0.89);
    justify-content: center;
    align-items: center;

    &_disabled {
        display: none;
    }
}

.photos__grid {
    width: 100%;
}

.photos__controls {
    margin: 1.5rem 0;
}

.photo__main-img {
    max-width: 100%;
    height: auto;
}

.photo__figure {
    @media (max-width: $md - 1px) {
        width: 100vw;
        margin-left: calc(((#{$max-width-container-sm} - (#{$padding-container} * 2)) - 100vw) / 2);
    }

    @media (max-width: $max-width-container-sm - 1px) {
        margin-left: -$padding-container;
    }
}

.photo__caption {
    text-align: center;
    color: #3f3f3f;
    font-size: 1.2rem;

    &::after {
        content: "";
        display: block;
        width: 75%;
        height: 1px;
        border-bottom: 1px solid #3f3f3f;
        margin: 0.3rem auto;
    }
}

.photo__information-card {
    display: flex;
    justify-content: center;
}

@mixin font-card($font-size: 1.05rem) {
    font-size: $font-size;
    font-family: "Roboto", "Segoe UI", Arial, sans-serif;
}

.information-card {
    &__item {
        @include font-card();

        display: flex;
        align-items: center;
        min-height: 3rem;
    }

    &__value {
        @extend .information-card__item;

        color: #251269;
        text-transform: capitalize;
    }

    &__key {
        @extend .information-card__item;

        margin-right: 1rem;
    }

    &__key::after {
        content: ":";
    }

    &__icon {
        @extend .information-card__item;

        margin-right: 0.3rem;
    }

    &__wrapper-card {
        max-width: 15rem;
        margin: 0 auto;
    }
}

.photo__description {
    max-width: 50rem;
    margin: 0 auto;
}

.photo__description-heading {
    @include font-card(1.5rem);

    text-align: center;
    font-weight: 400;
}

.order-card {
    max-width: 28rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    font-size: 1rem;

    &__proposal {
        text-align: center;
    }

    &__actions {
        max-width: 45%;
        text-align: center;
    }
}
