.slider {
    position: relative;
    min-height: 20rem;
}

.slide__img {
    display: block;
    object-fit: cover;
    width: 100%;
}

.slider__wrapper {
    overflow-x: hidden;
    background: url("/bg_light.png");
}

.slider__viewport {
    display: flex;
    transition: transform 0.45s ease-out;
}

.slider__slide {
    min-width: 100%;
    margin: auto 0;
}

@mixin opacity-transition {
    opacity: 0;
    transition: opacity ease-in-out 0.3s;
}

.slider__arrow {
    @include opacity-transition();

    position: absolute;
    height: 100%;
    top: 0;
    width: 10%;
    display: flex;
    justify-content: center;
    background: #ffffff8f;
    cursor: pointer;
    font-size: 5rem;

    &_left {
        left: 0;
    }

    &_right {
        right: 0;
    }
}

.slider__arrow-icon {
    margin: auto 0;
}

.breadcrumbs__point {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: #000000b0;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 3px #fff;
    transition: background-color 0.45s ease-out;

    + .breadcrumbs__point {
        margin-left: 1rem;
    }
}

.breadcrumbs__point_active {
    background: #0f0335cc;
}

.slider__breadcrumbs {
    @include opacity-transition();

    position: absolute;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

.slider:hover {
    &, .slider__breadcrumbs {
        opacity: 1;
    }

    &, .slider__arrow {
        opacity: 1;
    }
}

.slider__load-wrapper {
    display: flex;
    position: absolute;
    top: 0;
    background: url("/bg_light.png");
    height: 100%;
    width: 100%;
    color: #3d21c6;
}

.slider__load-wrapper_loaded {
    display: none;
}

.slider__load-circle {
    margin: auto;
}
