@import "styles/header";
@import "styles/slider";

html, body {
    font-size: 16px;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.link {
    text-decoration: none;

    &:focus {
        outline: none;
    }
}

.button-plain__wrapper {
    height: inherit;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: 576px) {
        max-width: 540px;
    }
    @media (min-width: 768px) {
        max-width: 720px;
    }
    @media (min-width: 992px) {
        max-width: 960px;
    }
    @media (min-width: 1200px) {
        max-width: 1140px;
    }
}

.main__container {
    margin-top: 1.5rem;
}

.home__slider {
    margin: 0 8rem;

    @media (max-width: 1200px) {
        margin: 0 4rem;
    }

    @media (max-width: 992px) {
        margin: 0;
    }
}
