@import "styles/configs";
@import "styles/header";
@import "styles/slider";
@import "styles/presentational";
@import "styles/photos";

html, body {
    font-size: 16px;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.link {
    text-decoration: none;

    &:focus {
        outline: none;
    }
}

.button-plain__wrapper {
    height: inherit;
    display: inline-block;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: $sm) {
        max-width: 540px;
    }
    @media (min-width: $md) {
        max-width: 720px;
    }
    @media (min-width: $lg) {
        max-width: 960px;
    }
    @media (min-width: $xl) {
        max-width: 1140px;
    }
}

.main__container {
    margin-top: 1.5rem;
}

.home__slider {
    margin: 0 8rem;

    @media (max-width: $xl) {
        margin: 0 4rem;
    }

    @media (max-width: $lg) {
        margin: 0;
    }
}

.error__heading {
    color: #610404;
}

.error__details {
    margin-top: 3px;
    white-space: pre-wrap;
}

.breadcrumbs__wrapper {
    background: #adb6ea61;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
}

.breadcrumbs__home-icon {
    margin-bottom: -5px;
}

.breadcrumbs__link {
    @extend .link;

    color: #551a8b;
    transition: color ease-in-out 0.2s;

    &:hover {
        color: #300cce;
    }
}

@media (max-width: $sm) {
    .register__button {
        margin-bottom: 55px;
    }
}

.pagination {
    margin: 1.5rem auto;
}

.pagination__pages-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-item {
    width: 100%;
}

.input-item__chip {
    margin: 0 0.3rem;
}

.input-item__chip-group {
    display: flex;
    justify-content: center;
}
